In [35]:
from pypika import Query, Tables, Database
import psycopg2
import pandas as pd

In [74]:
conn = psycopg2.connect('postgresql://prisma:prisma@localhost:5432/postgres')
cur = conn.cursor()

session, node_entries, slider_node_entries, choice_node_entries = Tables(
  'Session', 
  'NodeEntry', 
  'SliderNodeEntry',
  'ChoiceNodeEntry',
)

q = Query \
  .from_(session) \
  .inner_join(node_entries) \
  .on(node_entries.sessionId == session.id) \
  .outer_join(slider_node_entries) \
  .on(slider_node_entries.nodeEntryId == node_entries.id) \
  .outer_join(choice_node_entries) \
  .on(choice_node_entries.nodeEntryId == node_entries.id) \
  .where(session.dialogueId == 'ckgmgqbmw7505178god5xgdmam2') \
  .select(session.id, session.createdAt, node_entries.id, slider_node_entries.value, choice_node_entries.value)
  # It is crucial to match these select to the columns below
cur.execute(str(q))
res = cur.fetchall()
cur.close()

In [79]:
test_df = pd.DataFrame(res, columns=['session_id', 'session_created_at', 'node_entry_id', 'slider_value', 'choice_value'])

session_df = test_df.groupby('session_id').mean()
session_df

                              slider_value
session_id
ckgweoer216673598god41bpunol          89.0
ckgwepg3p16674768godj9ss3k55          62.0
ckgweq0fe16675328godecfi1w13           1.0
ckgweqn8q16676368god7wqzav6s           1.0
ckgxeybm6137998godw5ps5yb7            23.0
...                                    ...
ckphzcy1822520ruqnu104efk             89.0
ckphzhniq26620ruqitlo4etv             92.0
ckphzi6zs27060ruq6xklpt5r             96.0
ckpi3g10b32060ruqdypjozap             85.0
ckpjsjm5t4210420ruq7xca5w0s           75.0

[554 rows x 1 columns]

In [80]:
test_df

,session_id,session_created_at,node_entry_id,slider_value,choice_value
0,ckiedw28q7163590o1toiu24ad,2020-12-07 10:00:21.338,ckiedw28q7163890o1jcy3pecy,NaN,6
1,ckiedw28q7163590o1toiu24ad,2020-12-07 10:00:21.338,ckiedw28q7163790o1mkk3oav9,NaN,Sleep
2,ckgweoer216673598god41bpunol,2020-10-30 15:22:50.414,ckgweoer216673618godzeuzieqs,NaN,Colleagues
3,ckgweoer216673598god41bpunol,2020-10-30 15:22:50.414,ckgweoer216673628godpkxccyw1,NaN,Markus 'Klaus' Wogatzki
4,ckgweoer216673598god41bpunol,2020-10-30 15:22:50.414,ckgweoer216673638godmanefyus,NaN,Yes
...,...,...,...,...,...
2135,ckphzcy1822520ruqnu104efk,2021-06-04 07:02:35.852,ckphzcy1822530ruqwm45qsfc,89.0,None
2136,ckna3ufgn15053990qun1lt9mfwm,2021-04-09 09:26:35.975,ckna3ufgo15054000qun3qeem3jd,71.0,None
2137,ckki02uea25322491mg56ou6tzg,2021-01-29 08:04:12.514,ckki02uea25322591mg4y2rgz5u,82.0,None
2138,ckk6l3t8b86715791o4ayzyd1xp,2021-01-21 08:19:35.483,ckk6l3t8b86715891o40yhqfi7j,84.0,None
2139,cki9yumqs947590o1xphov5fg,2020-12-04 07:48:15.652,cki9yuw38950290o1zyow5zy3,NaN,None